@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins, sans-serif";
}
body{
    background-color: rgb(230, 232, 242);
    height: 100vh;
    width: 100vw;
}
header{
    height: 14vh;
    width: 100%;
    box-shadow: 0 1px 5px rgb(10, 10, 10);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(178, 171, 171);
}
header>h1{
    font-weight: 900;
    font-family:Gwendolyn, cursive;
    font-size: 50px;
    margin: 20px;
    
}
header>i{
    font-size: 40px;
}

.maincont{
    height: 86vh;
    width: 100%;
    display: flex;
}
.leftcont{
    height: 100%;
    width: 35%;
    background-color: rgb(185, 184, 184);
    display: flex;
    flex-direction: column;
    padding: 60px;
    align-items: start;
}
.leftcont>h3{
    margin-left: 40px;
    font-size: 30px;
    font-weight: 900;
    padding: 20px;
    font-family:Gwendolyn, cursive;

}
.leftcont>form{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.leftcont>form>input{
    width: 65%;
    height: 60px;
    border: none;
    border-radius: 5px;
    padding: 20px;
}
.leftcont>form>input::placeholder{
    font-size: 14px;
    color: rgb(68,68,68);
}
.leftcont>form>textarea{
    border: none;
    width: 65%;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 10px;
}
.leftcont>form>textarea::placeholder{
    font-size: 14px;
    color: rgb(68,68,68);
}
.rightcont{
    height: 100%;
    width: 65%;
    padding: 30px;
    background-color: rgb(228, 209, 209);
}
.rightcont>div{
    height: 60px;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: rgb(220, 202, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.rightcont>div>h2 {
    font-size: 20px;
    padding-left: 30px;
    margin: 0;
    padding: 0;
    flex: 1;
}
.fas{
    margin: 10px;
    cursor: pointer;
    color: #000000;
    transition: all 2s ease;
}
.fas:hover{
    font-size: 22px;
}
.fa-pen{
    margin-left: 400px;
}
.note-content {
    flex-grow: 1;
}

#actions {
    display: flex;
    align-items: center;
    gap: 1px; /* Adjust the gap between icons as needed */
}
button{
    width: 100px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(14, 14, 14);
    border-radius: 5px;
    border: none;
    transition: all 2s ease;
}

button:hover{
    color: rgb(5, 5, 5);
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    width: 110px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 2px;
}